doctype html
html(lang="fr")
  head
    title="Voyage, voyage..."
    link(rel="stylesheet" href="public/css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" )
  body

    //PAGE HEADER
    header
        h1 Voyage, voyage...
        nav
            table
                tr
                    td
                        a(href="/") Accueil
    div(id="container")

        //ASIDE CONTENT
        aside
            img(id="planeimage" src="public/images/plane.png" alt="avion")
            img(id="earthimage" src="public/images/earth.png" alt="terre")
            div(id="description")
                p Bienvenue sur mon blog !
                p Ici, je raconte les différents voyages que j'ai eu la chance de faire.
                p Bonne visite !

        //MAIN CONTENT

        main(id="recent")
            article
                header
                    h2 Billets récents :
                // Billet 1

                a(href="/usa")
                    section
                        h3 Roadtrip aux Etats-Unis
                        img(src="public/images/usa.jpg" alt="USA")
                        p Deux semaines de vacances passées dans l'ouest américain en avril 2017. D'abord quelques jours à San Francisco et au parc national de Yosemite en Californie, puis un roadtrip depuis Las Vegas en passant par le Nevada, l'Arizona et l'Utah. Visite du Grand Canyon et de plein d'autres superbes parc nationaux... Inoubliable !

    // PAGE FOOTER
    footer © 2017 Céline Reverdy, Rina Attieh - ING5 OA Asynchronous Server Technologies
