body 
    font-family: "Open Sans", Arial, Helvetica, sans-serif
    margin : 0px
    font-size : 16px
    background: #061229 /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#061229, #13439E) /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#061229, #13439E) /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#061229, #13439E) /* For Firefox 3.6 to 15 */
    background: linear-gradient(#061229, #13439E) /* Standard syntax */
    min-height: 100vh;

body > header 
    display: -webkit-flex /* Safari */
    display: flex /* Standard syntax */
    -webkit-align-items: center /* Safari 7.0+ */
    align-items: center /* Standard syntax */
    -webkit-flex-wrap: wrap /* Safari 6.1+ */
    flex-wrap : wrap /* Standard syntax */
    -webkit-justify-content: space-between /* Safari 6.1+ */
    justify-content: space-between /* Standard syntax */
    color: white
    margin: 1.5%


h1, h2, h3 
    font-family: 'Raleway', sans-serif

h1 
    font-size: 45px


nav table 
    border-collapse: separate
    border-spacing: 30px


nav td 
    background-color: white
    padding:0px
    margin-left: 10px
    border-radius: 4px
    -webkit-transition: border-radius 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: border-radius 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out /* Standard syntax */

nav td:hover 
    border-radius: 11px
    -ms-transform: scale(1.2,1.2) /* IE 9 */
    -webkit-transform: scale(1.2,1.2) /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2) /* Standard syntax */
    box-shadow: 0 0 10px white
    background-color: #010917

nav td a 
    display: block
    padding: 10px
    font-family: 'Raleway', sans-serif
    font-weight: bold
    text-decoration: none
    text-align: center
    text-transform: uppercase
    letter-spacing: 2px
    color: #061229
    -webkit-transition: color 0.3s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: color 0.3s ease-in-out /* Standard syntax */

nav td a:hover 
    color: white

footer 
    color: white
    margin: 1.5%

#container 
    display: -webkit-flex /* Safari */
    display: flex /* Standard syntax */
    -webkit-flex-wrap: wrap /* Safari 6.1+ */
    flex-wrap : wrap /* Standard syntax */

aside 
    -webkit-flex: 1 1 20% /* Safari 6.1+ */
    -ms-flex: 1 1 20%  /* IE 10 */    
    flex: 1 1 20% /* Standard syntax */
    margin: 1.5%

#planeimage 
    display: block
    width: 10%
    margin: auto
    -webkit-animation: translation 2s infinite ease-in-out /* Safari 4.0 - 8.0 */
    animation: translation 2s infinite ease-in-out /* Standard syntax */

#earthimage 
    display: block
    width: 50%
    margin: auto
    -webkit-animation: rotation 8s infinite linear /* Safari 4.0 - 8.0 */
    animation: rotation 8s infinite linear /* Standard syntax */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotation 
    0%
        -webkit-transform: rotate(0deg)
    100% 
        -webkit-transform: rotate(-360deg)

/* Standard syntax */
@keyframes rotation 
    0%
        transform: rotate(0deg)
    100% 
        transform: rotate(-360deg)

/* Safari 4.0 - 8.0 */
@-webkit-keyframes translation 
    0%, 100%
        -webkit-transform: translate(0,0)
    50%
        -webkit-transform: translate(10px,0)

/* Standard syntax */
@keyframes translation
    0%, 100%
        transform: translate(0,0)
    50%
        transform: translate(10px,0)
    
#description 
    background-color: white
    margin: 13%
    padding: 10% 10%

#description a 
    text-decoration: none
    color: #033799
    -webkit-transition: text-shadow 0.2s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: text-shadow 0.2s ease-in-out /* Standard syntax */

#description a:hover 
    text-shadow: 1px 1px 0.2px #87ABED

main 
    -webkit-flex: 2 2 50%  /* Safari 6.1+ */
    -ms-flex: 2 2 50%  /* IE 10 */    
    flex: 2 2 50% /* Standard syntax */
    -webkit-order: -1 /* Safari 6.1+ */
    order: -1 /* Standard syntax */
    margin: 1.5% 1.5% 1.5% 4%

main img 
    width: 70%
    display: block
    margin: 30px auto

#recent header 
    color: white

#recent section 
    background-color: white
    margin: 50px 0px
    padding: 2% 4%
    text-align: justify
    border-radius: 0px
    -webkit-transition: border-radius 0.5s ease-in-out, transform 0.5s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: border-radius 0.5s ease-in-out, transform 0.5s ease-in-out /* Standard syntax */

#recent section:hover 
    border-radius: 75px 0px
    -ms-transform: scale(1.03, 1.03) /* IE 9 */
    -webkit-transform: scale(1.03, 1.03) /* Chrome, Safari, Opera */
    transform: scale(1.03, 1.03) /* Standard syntax */

#recent a 
    text-decoration: none
    color: black

#recent h3 
    color: #061229
    font-size: 22px
    -webkit-transition: transform 0.5s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: transform 0.5s ease-in-out /* Standard syntax */

#recent h3:hover
    -ms-transform: translate(20px, 0) /* IE 9 */
    -webkit-transform: translate(20px, 0) /* Chrome, Safari, Opera */
    transform: translate(20px, 0) /* Standard syntax */

#detailvoyage 
    background-color: white
    margin: 50px 0px
    padding: 2% 4%
    text-align: justify

#contact header
    color: white

#contact form 
    background-color: white
    margin: 50px auto
    width: 42%
    padding: 2% 4%

#contact form label 
    display: block
    margin: 8px 0px

#contact form input, #contact form select 
    padding: 8px
    width: 50%

#submitbtn 
    width: 100%!important
    background-color: #0D234D
    border: none
    display: block
    margin: 40px auto 0px auto
    color: white
    text-transform: uppercase
    letter-spacing: 2px
    font-family: 'Raleway', sans-serif
    font-size: 18px
    cursor: pointer
    -webkit-transition: background-color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s ease-in-out, letter-spacing 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out /* Standard syntax */

#submitbtn:hover 
    letter-spacing: 5px
    background-color: #103475
    box-shadow: 0 0 10px #0D234D
    border-radius: 20px

.obligatoire 
    color: red

#precisionobligatoire 
    margin: 30px 0px 5px 0px
    font-size: 13px