doctype html
html(lang="fr")
  head
    title="Voyage, voyage..."
    link(rel="stylesheet" href="public/css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" )
  body

    //PAGE HEADER
    header
        h1 Voyage, voyage...
        nav
            table
                tr
                    td
                        a(href="/") Accueil
    div(id="container")

        //ASIDE CONTENT
        aside
            img(id="planeimage" src="public/images/plane.png" alt="avion")
            img(id="earthimage" src="public/images/earth.png" alt="terre")
            div(id="description")
                p Bienvenue sur mon blog !
                p Ici, je raconte les différents voyages que j'ai eu la chance de faire.
                p Bonne visite !

        //MAIN CONTENT
        main
            article(id="detailvoyage")
                header
                    h2 Roadtrip aux Etats-Unis
                    img(src="public/images/usa.jpg" alt="USA")
                section
                    h3 Californie
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt dolor at fringilla euismod. Etiam eu dignissim sapien. Nulla eget elit pulvinar, vestibulum nisl quis, tincidunt nibh. Phasellus vitae felis aliquam, luctus arcu non, bibendum nisl. Pellentesque feugiat pellentesque purus vel aliquam. Phasellus at facilisis sapien. Vivamus placerat tellus sit amet libero commodo, vitae accumsan ante varius. Vestibulum in erat eget erat pretium ornare. Praesent tristique fermentum placerat. Quisque auctor nec risus quis cursus. Nam tincidunt enim id urna cursus pellentesque. Phasellus blandit nec augue id placerat. Nulla vestibulum nibh lectus, quis iaculis elit efficitur aliquam. Aliquam faucibus vestibulum ligula a condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed facilisis bibendum ipsum quis pretium. Proin consequat pellentesque ornare. Proin auctor ante felis, cursus hendrerit ante tempor ut.
                section
                    h3 Colorado, Arizona et Utah
                    p Cras nec diam blandit dolor auctor vehicula. Aliquam erat volutpat. Nulla tellus erat, condimentum non ligula mollis, ultrices commodo erat. Praesent ornare, metus at dignissim vulputate, massa turpis ultrices felis, quis egestas mi dui sed risus. Integer consectetur dui a diam laoreet venenatis. Pellentesque est lorem, suscipit ut accumsan a, ultricies id lacus. Phasellus sed posuere sem. Ut posuere felis congue mi auctor, in feugiat orci gravida. Vestibulum rhoncus ipsum leo, rutrum lacinia enim mattis tincidunt. Aenean pharetra venenatis dui ac malesuada. Proin rutrum, enim in volutpat lacinia, metus quam viverra lorem, non congue erat orci id ligula. Pellentesque dolor lorem, molestie ut tortor eget, ornare gravida odio. Aliquam semper, ex in luctus cursus, nibh diam blandit eros, sed facilisis mauris nisi in erat. Duis eleifend mi at sem malesuada bibendum. Ut placerat tempor rutrum. Quisque pulvinar imperdiet metus vel lobortis. Nunc vel interdum nulla. Etiam placerat risus id ligula placerat ullamcorper. Nunc odio est, imperdiet in molestie ut, commodo at enim. Ut at ligula auctor, vehicula erat quis, sollicitudin lorem. Integer vitae orci finibus, convallis massa at, blandit enim. Cras nec tortor egestas, cursus quam eget, feugiat massa. Sed pellentesque, lectus efficitur bibendum molestie, diam nulla pulvinar dolor, vitae finibus turpis sem dictum lorem. Fusce luctus augue a egestas congue.

    // PAGE FOOTER
    footer © 2017 Céline Reverdy, Rina Attieh - ING5 OA Asynchronous Server Technologies
